html {
  background-color: #fff;
  font-family: Montserrat, sans-serif;
}

#main {
  background-color: #fff;
}

.masthead {
  background-color: #fff;
  color: #707070;
}

.logo {
  text-align: center;
}

.logo-link {
  text-decoration: none;
}

.logo-link:visited {
  color: #707070;
}

.logo-text {
  display: inline-block;
  width: 9em;
}

h3 {
  color: #777777;
}

.nav {
  text-align: center;
}

nav a {
  color: #707070;
  text-decoration: none;
}

a:focus {
  outline: 3px solid #fff;
}

.nav a:focus {
  outline: 3px solid #fff;
}

.nav a span {
}

.nav a:hover span,
.nav a:focus span {

}

.btn-dark:hover {
  background-color: #fff;
  color: #000;
  border: .15rem solid #000;
  border-radius: 4px;

}

.banner {
  color: #707070;
  background-color: #000;
}

.banner-small {
  background-color: #f5f5f5;
}

.img-size {
  width: 75%;
  text-align: center;
  margin: 0 auto;

}
.card {
  min-height: 22em;
  border: .3rem solid;
  border-radius: 4px;
}

.btn-light {
  border-color: #fff;
}

.btn-light:hover,
.btn-light:focus {
  border-color: #fff;
}

.btn-banner {
  border-color: #649867;
  color: #649867;
}

.btn-banner:hover,
.btn-banner:focus {
  background-color: #649867;
  color: #fff;
  border-color: #649867;
}

#frame {
  border-radius: 5px;
  border: 0px solid #707070;
  background-color: #f5f5f5;
}

.popular-templates {
  background-color: #f5f5f5;
}

.thumbnail {
  width: 80%;
}

.footer {
  background-color: #fff;
  color: #777777;
}

.pricing-table {
  background-color: #f5f5f5;
}

table {
  border-collapse: collapse;
}

thead {
  border-collapse: collapse;
}

tbody {
  border-collapse: collapse;
}

th, td {
  border: 0px solid #fff;
}

.basic {
  border-left: 1px solid #fff;
}

.border-bottom {
  border-bottom: 1px solid #fff;
}

.btn-light {
  background-color: #AF96C4;
  color: #fff;
  border-color: #AF96C4;
  width: 15em;
}

.btn-light-green {
  background-color: #649867;
  border-color: #649867;
}

caption {
  display: none;
}

.sign-up {
  width: 20em;
}



@media only screen and (min-width: 20em) {

  .log-in {
    position: absolute;
    right: 4%;
    top: -.3%;
    display: none;
  }

  .logo {
    text-align: left;
  }

  .banner-content {
    position: relative;
    padding-top: 1rem;
  }

}

@media only screen and (min-width: 38em) {

  .log-in {
    position: inherit;
  }

  .nav {
    text-align: right;
  }

  .banner,
  .card {
    min-height: 0;
  }

  .banner-content {
    position: absolute;
    padding-top: 5.2rem;
  }

}
